
  
  <div >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
          <div class="relative bg-white rounded-lg shadow ">
              
              <div class="p-6 text-center">
                  
                  <h3 class="mb-5 text-lg font-normal text-gray-500 ">Are you sure you want to delete hotel <b>{{hotel.hotelName}}</b>?<br>(Note that this action cannot be reversed)</h3>
                  <button [mat-dialog-close]="popupClose" type="button" (click)="deleteHotel(hotel.hotel_id)" class="hover:bg-blue-500 hover:text-white font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center border-2">
                      Yes, I'm sure
                  </button>
                  <button mat-dialog-close type="button" class="hover:bg-blue-500 hover:text-white font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center border-2">No, cancel</button>
              </div>
          </div>
      </div>
  </div>
